/* Page de création d'utilisateur */
.create-user-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Titre en haut à gauche */
.create-user-page .page-title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    z-index: 1;
}

/* Conteneur du formulaire */
.create-user-page .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: auto;
    width: 500px;
}

/* Formulaire */
.create-user-page .user-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Champs du formulaire */
.create-user-page .form-group {
    display: flex;
    flex-direction: column;
}

.create-user-page .form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.create-user-page .form-group input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Bouton Créer */
.create-user-page .create-button {
    background-color: #176113;
    color: white;
    font-size: 0.85rem;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    width: 100px;
    align-self: center;
}

.create-user-page .create-button:hover {
    background-color: #054d10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
}

/* Logo en haut à droite */
.logo-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: auto;
    z-index: 1;
}

/* Titre en haut à gauche */
.create-user-page .page-title {
    font-size: 2rem;
    font-weight: 600;
    color: #a19e9e;
    text-align: start;
    margin-bottom: 3rem;
    margin-top: 70px;
    margin-left: 125px;
    z-index: 1;
}


.avatar-preview {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }